.game-board {
    flex-grow: 1;
    flex-basis: 0px;
    flex-shrink: 1;
    position: relative;
    border: 3px solid #000000;

    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    /* min-width: 25vw; */
  }
  
  .game-canvas {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: #666;
  }
  
  .animating-ui {
    position: absolute;
    right: 10%;
    bottom: 10px;
    width: 80%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #speed-slider {
    max-width: 100px;
    width: 100px;
  }

  .game-display-information {
    position: absolute;
    top: 100%;
  }
  
  .game-toolbar {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    background-color: black;
  }

  .game-tool {
      background: none;
      border: none;
  }

  .unselected {
      
  }

  .selected {
      background-color: #666;
      border-radius: 2px;
  }

  .back-to-center-button {
    right: 10px;
    bottom: 10px;
    position: absolute;
    background: none;
    border: none;
  }

  .drawing-options-menu, .erasing-options-menu, .pattern-options-menu {
    position: absolute;
    top: 100%;

    background-color: black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
  }

  .pattern-option {
    background-color: darkslategray;
  }

  .pattern-option.selected {
    background-color: green;
  }

  .render-prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .progress-bar {
    position: relative;
    width: 100%;
    height: 20%;
    background: none;
    border-radius: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .progress-bar-status {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: green;
  }

  .progress-bar-percentage {
    z-index: 1;
  }